<!DOCTYPE html>
<html lang="en">
  <head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	      <link href="static/theme.css" rel="stylesheet">
	<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
 </head>

	<body>
		 <div class="col-md-6">
		  <table class="table table-striped">
		    <thead>
		      <tr>
			<th>#</th>
			<th>회원 이름</th>
			<th>이달 출석 횟수</th>
			<th></th>
		      </tr>
		    </thead>
		    <tbody>
		      <tr>
			<td>1</td>
			<td>허디</td>
			<td>20</td>
			<td></td>
		      </tr>
		      <tr>
			<td>2</td>
			<td>뎡윤</td>
			<td>10</td>
			<td></td>
		      </tr>
		      <tr>
			<td>3</td>
			<td>언니</td>
			<td>19</td>
			<td></td>
		      </tr>
		    </tbody>
		  </table>
		</div>
	      </div>
	</body>
</html>
